<div class="wrapper">
    <h1>Registration page</h1>
     <form action="/registration" method="POST"> 
        <label for="username">Username:</label> 
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label> 
        <input type="password" id="password" name="password" required> 

        <div class="button-container">
            <button type="submit" class="button">Log in</button> 
            <button type="reset" class="button-outline">Reset</button>
        </div>
    </form>
</div>